
@each $breakpoint in map-keys($grid-breakpoints) {
  @include media-breakpoint-up($breakpoint) {
    $infix: breakpoint-infix($breakpoint, $grid-breakpoints);

    .fs#{$infix} {
      @each $v in $font-sizes {
        &-#{$v} {
          font-size: #{$v}px !important;
        }
      }

      &-plus {
        &-quarter {
          font-size: 125% !important;
        }

        &-half {
          font-size: 150% !important;
        }

        &-three-quarter {
          font-size: 175% !important;
        }

        &-double {
          font-size: 200% !important;
        }

        @for $i from 1 to 10 {
          &-percent-#{$i * 10} {
            font-size: #{100+ ($i * 10)}#{'%'} !important;
          }
        }
      }


    }

    .fw#{$infix} {
      @for $i from 1 through 9 {
        &-#{$i}00 {
          font-weight: $i * 100 !important;
        }
      }
    }

  }
}
